/* Coolors Exported Palette - coolors.co/d42627-181c1e-35393d-8f918f-ededed

$color1: rgba(212, 38, 39, 1);
$color2: rgba(24, 28, 30, 1);
$color3: rgba(53, 57, 61, 1);
$color4: rgba(143, 145, 143, 1);
$color5: rgba(237, 237, 237, 1);

*/

body {
  background-color: rgba(30, 35, 38);
  color: rgb(237, 237, 237);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1042px;
  margin: 0 auto;
}

.wrapper--small {
  max-width: 800px;
}

.m10 {
  margin: 10px;
}

.mr10 {
  margin-right: 10px;
}

.svg-info {
  max-width: 50px;
  fill: #1f85a4;
  margin-right: 20px;
}

.svg-plus {
  max-width: 13px;
  fill: #ededed;
}

.alert {
  display: flex;
  margin: 10px;
  padding: 10px 20px;
  background-color: rgb(237, 237, 237);
  color: rgba(30, 35, 38);
  border-radius: 5px;
}

.page-head {
  padding: 2rem 10px;
  background: linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  border-bottom: 3px solid #e52f00;
  box-shadow: 0 17px 15px -8px rgba(0,0,0,.4);
  text-shadow: #000 0 0 5px;
}

.main-content {
  margin-top: 40px;
  margin-bottom: 80px;
}

.add-game {
  display: flex;
}

.planning-day-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 80px;
}

.planning-day {
  flex-grow: 1;
}

.time-box {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(143, 145, 143);
  border-radius: 3px;
  background-color: rgb(237, 237, 237);
  min-height: 63px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 61px;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(26, 30, 33);
}

input {
  border-radius: 3px;
  padding: 10px;
  border: 0px solid rgba(143, 145, 143, 1);
}

.btn {
  background-color: rgb(212, 38, 39);
  border-radius: 3px;
  margin: 10px;
  border: 0;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: rgb(237, 237, 237);
  font-size: 16px;
  letter-spacing: .05rem;
}

.page-foot {
  position: relative;
  background-color: rgba(26, 30, 33);
  padding-top: 20px;
  padding-bottom: 20px;
}

.mentra {
  margin: 40px 10px;
  color: #b22222;
  text-align: center;
  letter-spacing: 2px;
}
