/* Coolors Exported Palette - coolors.co/d42627-181c1e-35393d-8f918f-ededed

$color1: rgba(212, 38, 39, 1);
$color2: rgba(24, 28, 30, 1);
$color3: rgba(53, 57, 61, 1);
$color4: rgba(143, 145, 143, 1);
$color5: rgba(237, 237, 237, 1);

*/

body {
  background-color: rgba(30, 35, 38);
  color: rgb(237, 237, 237);
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  margin: 0;
}

.wrapper {
  max-width: 1042px;
  margin: 0 auto;
}

.wrapper--small {
  max-width: 800px;
}

.page-head {
  padding: 2rem 10px;
  background: linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  border-bottom: 3px solid #e52f00;
  box-shadow: 0 17px 15px -8px rgba(0,0,0,.4);
  text-shadow: #000 0 0 5px;
}

.planning-day-container {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));*/
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.planning-day {
  flex-grow: 1;
}

.dropbox {
  height: 50px;
  border: 1px solid rgb(143, 145, 143);
  border-radius: 3px;
  background-color: rgb(237, 237, 237);
}

.game-list {
  display: flex;
  flex-wrap: wrap;
}

.game {
  background-color: rgb(212, 38, 39);
  border-radius: 3px;
  margin: 10px;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
